# python==3.10.12
black==23.9.1
deepwave==0.0.19
# holoviews==1.17.1
hypothesis==6.99.8
imageio==2.31.1
masthay-helpers>=0.2.100
matplotlib==3.7.2
matplotlib-inline==0.1.6
numpy==1.25.2
obspy==1.4.0
pynvml==11.5.0
pytest==8.0.1
python-json-logger==2.0.7
requests==2.31.0
returns==0.22.0
rich==13.6.0
scipy==1.11.1
setuptools==68.0.0
torch==2.0.1
torchaudio==2.0.2
pytest-subtests==0.12.1
# git+https://github.com/patrick-kidger/torchcubicspline.git
# git+https://github.com/tmasthay/rich_tools.git
