.toggle .admonition-content:empty {
    display: none;
}

.toggle .admonition-title {
    cursor: pointer;
}

/* _static/custom.css */
/* _static/custom.css */
.upper-right {
    position: absolute;
    top: 10px;
    /* Adjust as necessary */
    right: 10px;
    /* Adjust as necessary */
    z-index: 1000;
    /* Ensure it is above other content */
    /* background-color: red; */
    /* Optional: background color */
    padding: 10px;
    /* Optional: padding */
    box-shadow: 0 2px 50px rgba(0, 0, 0, 0.1);
    /* Optional: shadow for better visibility */
    border-radius: 5px;
    /* Optional: rounded corners */
    width: 2000px;
    /* Fixed width */
    height: 200px;
    /* Fixed height */
    overflow: hidden;
    /* Prevent content overflow */
    text-align: left;
    /* Center the text */
}

.upper-right .page-info {
    font-size: 12px;
    /* Smaller text */
    line-height: 1.2;
    /* Adjust line height */
}

.upper-right .context {
    font-size: 10px;
    /* Even smaller text for context */
}

.upper-right a {
    display: block;
    /* Ensure anchors fill the box */
    margin-bottom: 5px;
    /* Space between links */
}

.upper-right svg {
    width: 16px;
    /* Adjust SVG size */
    height: 16px;
    /* Adjust SVG size */
    vertical-align: top;
    /* Align SVG with text */
}
